.header__burger {
  display: none;
  border: none;
  outline: none;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  background: transparent url('../../../images/burger-menu-line.svg');
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__burger {
    /* calc((100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin); */
    /* max-width: calc((100vw - 320px)/(1024 - 320) * (880 - 320) + 320px); */
    display: flex;
  }
}