.search {
  max-width: 1280px;
  margin: 0 auto;
  padding: 70px 70px 47px;
  box-sizing: border-box;
}

.search__form {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.search__input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding-bottom: 13px;
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  border-bottom: 1px solid #424242;
  transition: border-bottom 0.3s;
}

.search__input::placeholder {
  color: #8B8B8B;
}

.search__input:focus {
  border-bottom: 1px solid #fff;
}

.search__btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border: none;
  width: 34px;
  height: 34px;
  background: transparent url('../../../images/search-btn-icon.svg') no-repeat center center;
  flex-shrink: 0;
  cursor: pointer;
  transition: opacity 0.2s;
}

.search__btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .search {
    padding: calc((100vw - 768px)/(1024 - 768) * (70 - 80) + 80px) calc((100vw - 768px)/(1024 - 768) * (70 - 30) + 30px) calc((100vw - 768px)/(1024 - 768) * (47 - 60) + 60px);
  }
}

@media screen and (max-width: 768px) {
  .search {
    padding: calc((100vw - 320px)/(768 - 320) * (80 - 90) + 90px) calc((100vw - 320px)/(768 - 320) * (30 - 14) + 14px) calc((100vw - 320px)/(768 - 320) * (60 - 50) + 50px);
  }

  .search__input {
    font-size: calc((100vw - 320px)/(768 - 320) * (28 - 18) + 18px);
    padding-bottom: calc((100vw - 320px)/(768 - 320) * (13 - 15) + 15px);
  }
}